<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ user }}</h2>

    <!-- Form to add a new note -->
    <form method="POST">
        <h3>Write down your note:</h3>
        <input type="text" name="title" placeholder="Title" required><br>
        <textarea name="note" rows="10" cols="50" placeholder="Write your note here"></textarea><br>
        <button type="submit">Save Note</button>
    </form>


    <form method="GET" action="">
    <input type="text" name="q" value="{{ query }}" placeholder="Search notes...">
    <button type="submit">Search</button>
    </form>
 

    <h3>Your notes</h3>
    <ul>
        {% for note in notes %}
            <li>
                <strong>{{ note.title }}</strong><br>
                
                <!-- Gumb za brisanje objave -->
                <form action="{{ url_for('delete_note', note_id=note.id) }}" method="POST">
                    <button type="submit">Delete</button>
                </form>
                
                <!-- Povezava za urejanje objave -->
                <a href="{{ url_for('edit_note', note_id=note['id']) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Logout Button -->
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>